/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #0c0f16;
    font-family: 'Ubuntu', sans-serif;
}

/* Utilitário de largura máxima */
.max-width {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background-color: #121721;
    border-bottom: solid #1b202a 1px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #547ec7;
    font-size: 35px;
    font-weight: 500;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

/* Botão do menu para dispositivos móveis */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Estilos responsivos para a navbar */
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        background-color: #121721;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }

    .max-width {
        max-width: 930px;
    }
}

/* Banner principal */
.top {
    color: #fff;
    display: flex;
    background-image: url('../images/banner_v10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width {
    width: 100%;
    display: flex;
}

.top .top-content .text-1 {
    font-size: 25px;
}

.top .top-content .text-2 {
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .text-3 {
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a {
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.top .top-content a:hover {
    color: blue;
    background: none;
}

/* Seção de serviços */
.services {
    color: #ffff;
    background-color: #0c0f16;
    font-family: 'Poppins', 'sans-serif';
}

.services .title {
    text-align: center;
    margin: 40px 0;
    font-weight: 400;
    font-size: 35px;
    color: #547ec7;
}

.services .serv-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
    color: #ffff;
}

.services .serv-content .card {
    flex-basis: calc(33% - 20px);
    background-color: #121721;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.services .serv-content .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    background-color: #1b202a;
}

.services .serv-content .card i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #547ec7;
    transition: all 0.3s ease;
}

.services .serv-content .card i:hover {
    color: #198289;
}

.services .serv-content .card:hover i {
    color: #ffff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin: 10px 0 7px 0;
}

.services .serv-content .card p {
    font-size: 15px;
    color: #ffffff80;
}

/* Estilos responsivos para serviços */
@media (max-width: 947px) {
    .services .serv-content .card {
        width: calc(50% - 10px);
        align-items: center;
    }
}

/* Estilos para telas menores que 690px */
@media (max-width: 690px) {
    .services .serv-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services .serv-content .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
.premium {
    color: #ffff;
    background-color: #0c0f16;
    font-family: 'Poppins', 'sans-serif'; 
    

    background-position: center;
}

.premium .title {
    text-align: center;
    margin: 40px;
    font-weight: 400;
    font-size: 35px;
    color: #547ec7;
}


.premium .premium-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* para deixa escrita abaixo*/
}

.premium .premium-content .left {
    width: 45%;
}

.premium .premium-content .left img{
    width: 400px;
height: 400px;
object-fit: cover;
border-radius: 6px;
}

.premium .premium-content .right {
    width: 55%;
}

.premium .premium-content .right .text {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}

.premium .premium-content .right p {
    font-size: 15px;
    color: #ffffff80;
}
.premium .premium-content .right a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;

}

.premium .premium-content .right a:hover {
    color: #ffffff;
    background: none;
}


/* Estilos responsivos para premium */

@media (max-width: 690px) {
   .premium .premium-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .premium .premium-content .left img,
   .premium .premium-content .right img {
        width: 100%;
    }
}

@media (max-width: 947px) {
   .premium .premium-content .left,
   .premium .premium-content .right {
        width: 100%;
    }
}
@media (max-width: 1104px) {
    .premium .premium-content .left img,
    .premium .premium-content .right img {
        width: 80%;
        height: 80%;
    }
}

.faq {
    padding: 50px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.faq .title {
    font-size: 28px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 20px;
}

.faq .faq-accordion {
    display: inline-block;
    text-align: left;
    max-width: 600px;
    margin: 0 auto; /* Centraliza o bloco */
}

.faq .faq-question {
    font-size: 18px;
    font-weight: 600;
    color: #547ec7;
    cursor: pointer;
    margin: 15px 0;
    transition: color 0.3s;
}

.faq .faq-question:hover {
    color: #198289;
}

.faq .faq-answer {
    display: none; /* Escondido por padrão */
    font-size: 16px;
    color: #ffffff80;
    margin-top: 5px;
    transition: all 0.3s ease;
}

footer{
    background: #01131d;
    padding: 25px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer span a{
    color: #87cefa;
}
footer span a:hover{
    color: #fff;
}

/* Seção de Contato */
.contact {
    background-color: #121721;
    color: #fff;
    padding: 50px 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #547ec7;
    font-size: 2rem;
    font-weight: bold;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

/* Coluna da Esquerda */
.contact .column.left {
    flex: 1;
    min-width: 300px;
}

.contact .column.left p {
    color: #ffffff80;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact .icons .row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.contact .icons .row i {
    font-size: 1.5rem;
    color: #547ec7;
}

.contact .icons .info .heade {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.contact .icons .info .sub-title {
    font-size: 0.9rem;
    color: #ffffff80;
}

/* Coluna da Direita */
.contact .column.right {
    flex: 1;
    min-width: 300px;
}

.contact .column.right .text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #547ec7;
    margin-bottom: 20px;
}

/* Formulário */
form .fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .field {
    display: flex;
    flex-direction: column;
}

/* Alteração do fundo do campo */
form .field input,
form .field textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #1b202a;
    border-radius: 5px;
    background-color: #1c2430; /* Fundo azul escuro */
    color: #547ec7; /* Texto azul claro */
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

form .field input:focus,
form .field textarea:focus {
    border-color: #547ec7; /* Azul claro */
    background-color: #121721; /* Fundo escurece levemente */
    color: #fff; /* Texto branco */
}

form .field textarea {
    resize: none;
}

form .button {
    text-align: right;
}

form .button button {
    background: #547ec7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

form .button button:hover {
    background: #198289;
}

/* Responsividade */
@media (max-width: 947px) {
    .contact .contact-content {
        flex-direction: column;
    }
}

@media (max-width: 690px) {
    .contact .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact .column.left,
    .contact .column.right {
        width: 100%;
    }
}
